/* Body Start */

body {
  background-color: #060612;
  color: hsl(0 0% 98%);
  font-family:  "Geist Sans", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  font-weight: 80;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  text-decoration: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 300%;
  font-style: bold;
}

h2 {
  font-size: 150%;
}

/* Image */
img {
width: 40vw;
}

.imgtxt {
container: 2;
}

/* Portfolio conf */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.portimg {
  max-width: 448px;
  height: auto;
  padding-left: 2.5%; padding-right: 2.5%;
}

/* Href */
.link-h2 {
  text-decoration: none;
  font-size: 125%;
  color: #afafff
}

.link-p {
  text-decoration: none;
  font-size: 100%;
  color: #afafff
}

.link-img {
text-decoration: none;
font-weight: bold;
font-size: 125%;
color: #afafff
}

/* Spacer */
.spacer {
padding-top: 10%;
}

/* Footer */
footer {
margin-top: auto;
bottom: 0;
}

/* Remove Scroll bar */
.rmscroll {
overflow: hidden;
}

/* Socail Button */
#social-button {
width: 200px;
height: 50px;
border-radius: 40px;
color: white;
border: none;
transition: 0.5s;
outline: none;
font-weight: bold;
}

/* Warning Colour */
.color-warning {
color: #facb32;
}

/* Attention Colour */
.color-attention {
color: #ff5050;
}

/* Body End */
/* Nav Start */

/* Add a black background color to the top navigation */
.topnav {
  background-image: #0e0e29b6;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #a3a3a3;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #0c0c24;
  color: rgb(63, 63, 63);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ffffff00;
  color: rgb(255, 255, 255);
}

/* Nav End */

/* Scaling start */

@media screen and (max-width: 600px) {
  body {
      padding-left: 2%;
      padding-right: 2%;
  }
  img{
    width: 90vw;
    height: auto;
  }
  .topnav a {
    float: center;
  }
  .column {
    width: 90vw;
  }
}

/* Scaling end */